@import '~/src/styles/variables.scss';


.cardHeader{
	display: flex;
	align-items: center;
	color: $gray-800;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.025rem;
	gap: .5rem;
	.btns{
		display: flex;
		gap: 0.5rem;
		margin-left: auto;
	}
}

.formsWrapper{
	width: 100%;
	display: flex;
	gap: 1.25rem;
}

.formsWrapperCard{
	margin-top: 1.25rem;
}

.line{
	width: 100%;
	height: 1px;
	background: $gray-100;
	margin: 1rem 0;
}

.status{
	font-size: 0.875rem;
	white-space: nowrap;
	margin-left: auto;
	margin-right: 0;
	width: fit-content;
	&.PENDING{
		color: $main-blue-color;
	}
	&.EXECUTED{
		color: #179F25;
	}
	&.DECLINED{
		color: #F12828;
	}
}

.formCard{
	max-width: 36.3125rem;
	flex-grow: 1;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	.formRow{
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
		align-self: stretch;
		margin-bottom: 1rem;
	}
	.input, .select, .calendar{
		width: 100%;
	}
}

.btn{
	margin-top: 1rem;
	margin-left: auto;
	margin-right: 0;
	// width: 100%;
}