
.wrapper{
	position: relative;
	color: #000;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	.label{
		display: flex;
		align-items: center;
		gap: .5rem;
		cursor: pointer;
	}
	.checkboxIcon{
		&Empty{
			display: block;
			color: #A7AEB8;
		}
		&Fill{
			display: none;
			color: #436CFF;
		}
	}
	&:hover{
		transition: .4s color;
		color: #67696b;
		.checkboxIcon{
			&Empty{
				transition: .4s color;
				color: #d9dde2;
			}
			&Fill{
				transition: .4s color;
				color: #436CFF;
			}
		}
	}
	input{
		display: none;
		&:checked{
			display: block;
		}
		&:checked + .label{
			.checkboxIcon{
				&Fill{
					display: block;
				}
				&Empty{
					display: none;
				}
			}
		}
	}
}