@import '~/src/styles/variables.scss';

.smallBtn{
	width: fit-content;
	padding: 0.5rem;
}
.toolbar{
	display: flex;
	width: 100%;
	padding: 8px;
	gap: 8px;
	border-radius: 4px;
	background: rgba(243, 243, 243, 1);
	margin-bottom: 12px;
}
.menuItem{
	padding: 0;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: none;
	border: none;
	color: rgba(145, 147, 150, 1);
	transition: .3s;
	cursor: pointer;
	&.active{
		background: rgba(217, 226, 255, 1);
		color: rgba(105, 138, 255, 1);
	}
}
.element-link {
  display: inline;
  position: relative;
	.popup {
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		background-color: white;
		padding: 6px 10px;
		gap: 10px;
		border-radius: 6px;
		border: 1px solid lightgray;
		a {
			display: flex;
			align-items: center;
			gap: 5px;
			padding-right: 10px;
			border-right: 1px solid lightgrey;
			span{
				max-width: 300px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		button {
			border: none;
			background: transparent;
			&:hover {
				color: rebeccapurple;
				cursor: pointer;
			}
		}
	}
}

.group{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	.header{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.375rem;
		letter-spacing: 0.0175rem;
		color: $gray-800;
		span{
			width: 100%;
		}
		svg{
			width: 1.125rem;
			height: 1.125rem;
		}
		.star{
			color: #EE1F1F;
		}
	}
}

.wrapper{
	*{
		outline: none !important;
	}
	width: 100%;
	min-height: 212px;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid rgba(233, 234, 234, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	display: flex;
	flex-direction: column;
	max-height: 70svh;
	overflow: hidden;
	&:focus, &:has(:focus){
		border: 1px solid rgba(161, 182, 255, 1)
	}
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: none;
	}
	 
	::-webkit-scrollbar-thumb {
		background: #D3D4D5; 
		border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background: #D3D4D5; 
	}
}

.textarea{
	overflow-y: auto;
	flex-grow: 1;
}