@import '~/src/styles/variables.scss';

.grid{
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	height: 100%;
}
.cardHeader{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $gray-800;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.025rem;
}
.line{
	width: 100%;
	height: 1px;
	background: $gray-100;
	margin: 1rem 0;
}
.companyInfoWrapper{
	display: flex;
	gap: 24px;
	align-items: start;
}
.infoBlock{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.infoTitle{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	color: rgba(145, 147, 150, 1);
}
.tabsWrapper{
	padding: 1rem;
}
.infoValue{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	color: rgba(79, 81, 87, 1);
}
.tableCard{
	height: 100%;
	border-radius: 1rem;
	border: 1px solid $gray-100;
	background: #FFF;
	display: flex;
	flex-direction: column;
	.filters{
		width: 100%;
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: space-between;
		gap: 0.75rem;
		align-self: stretch;
		border-bottom: 1px solid $gray-100;
		color: $gray-700;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5rem; /* 150% */
		letter-spacing: 0.02rem;
		.title{
			font-size: 20px;
			font-weight: 600;
			line-height: 23.87px;
			letter-spacing: 0.02em;
			text-align: left;
			color: rgba(79, 81, 87, 1);
		}
		.selects{
			display: flex;
			gap: 12px;
			align-items: center;
		}
		.addBtn{
			width: fit-content;
			padding: .75rem 1.5rem;
		}
		.channels{
			margin-left: auto;
		}
	}
	.tableWrapper{
		width: 100%;
		height: 100%;

	}
	.checkbox{
		width: fit-content;
	}
	table{
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		background: #FFF;
		overflow: hidden;
		thead th{
			text-align: left;
			padding: 0.75rem 1rem;
			color: $gray-500;
			background: #F4F8FE;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5rem;
			letter-spacing: 0.02rem;
			.flex{
				display: flex;
				align-items: center;
				gap: 0.625rem;
			}
			&:nth-child(1){
				width: calc(360/1563 * 100%);
			}
			&:nth-child(2){
				width: calc(200/1563 * 100%);
			}
			&:nth-child(3){
				width: calc(220/1563 * 100%);
			}
			&:nth-child(4){
				width: calc(260/1563 * 100%);
			}
			&:nth-child(5){
				// width: calc(140/1563 * 100%);
				.flex{
					justify-content: flex-end;
				}
			}
		}
		tbody td{
			color: $gray-800;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5rem; /* 150% */
			letter-spacing: 0.02rem;
			padding: 0.75rem 1rem;
			vertical-align: middle;
			.center{
				display: flex;
				align-items: center;
			}
			.ACTIVE{
				color: rgba(8, 161, 23, 1);
			}
			.COMPLETED{
				color: rgba(145, 147, 150, 1);
			}
		}
		tbody tr{
			display: table;
			width: 100%;
			transition: .3s;
			cursor: pointer;
			&:hover{
				background: #F4F8FE;
			}
			&:not(:first-child){
				border-top: 1px solid $gray-100;
			}
			td{
				&:nth-child(1){
					width: calc(360/1563 * 100%);
				}
				&:nth-child(2){
					width: calc(200/1563 * 100%);
				}
				&:nth-child(3){
					width: calc(220/1563 * 100%);
				}
				&:nth-child(4){
					width: calc(260/1563 * 100%);
				}
				&:nth-child(5){
					// width: calc(140/1563 * 100%);
					.flex{
						justify-content: flex-end;
					}
				}
			}
		}
		thead{
			border-bottom: 1px solid $gray-100;
			display: table;
			width: 100%;
		}
		tbody{
			width: 100%;
			overflow-y: auto;
			display: block;
			height: calc(100% - 80px);
			overflow: auto;
		}
		&.cpmTable{
			thead th{
				&:nth-child(1){
					width: calc(260/1563 * 100%);
				}
				&:nth-child(2){
					width: calc(200/1563 * 100%);
				}
				&:nth-child(3){
					width: calc(200/1563 * 100%);
				}
				&:nth-child(4){
					width: calc(200/1563 * 100%);
				}
				&:nth-child(5){
					width: calc(150/1563 * 100%);
				}
				&:nth-child(6){
					width: calc(200/1563 * 100%);
				}
			}
			tbody tr{
				td{
					&:nth-child(1){
						width: calc(260/1563 * 100%);
					}
					&:nth-child(2){
						width: calc(200/1563 * 100%);
					}
					&:nth-child(3){
						width: calc(200/1563 * 100%);
					}
					&:nth-child(4){
						width: calc(200/1563 * 100%);
					}
					&:nth-child(5){
						width: calc(150/1563 * 100%);
					}
					&:nth-child(6){
						width: calc(200/1563 * 100%);
					}
				}
			}
		}
	}
}


.checkWrapper{
	position: relative;
	color: #000;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.checkLabel{
		display: flex;
		align-items: center;
		gap: .5rem;
		cursor: pointer;
	}
	.checkboxIcon{
		&Empty{
			display: block;
			color: #A7AEB8;
		}
		&Fill{
			display: none;
			color: #436CFF;
		}
	}
	&:hover{
		transition: .4s color;
		color: #67696b;
		.checkboxIcon{
			&Empty{
				transition: .4s color;
				color: #d9dde2;
			}
			&Fill{
				transition: .4s color;
				color: #436CFF;
			}
		}
	}
	input{
		display: none;
		&:checked + .checkLabel{
			.checkboxIcon{
				&Fill{
					display: block;
				}
				&Empty{
					display: none;
				}
			}
		}
	}
}