@import '/src/styles/variables.scss';

@keyframes opacity {
	0%{ opacity: 0; }
	100%{ opacity: 1;}
}
@keyframes fromLeft {
	0%{ transform: translateX(-50vw); }
	100%{ transform: translateX(-38%);}
}

.wrapper{
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $publisher-bg-color;
	background-image: url('~/public/images/publisherBG.svg');	
	display: flex;
	align-items: center;
	.successWrapper{
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		gap: 1.44rem;
		opacity: 0;
		animation: opacity 1s ease-in;
		h2{
			color: $text-color;
			text-align: center;
			font-family: "SF Semibold";
			font-size: 2.22222rem;
			font-weight: 600;
			padding: 0;
			margin: 0;
			margin-top: -14rem;
		}
		p{
			font-size: 1.11111rem;
			padding: 0;
			margin: 0;
		}
		a{
			position: relative;
			text-decoration: none;
			width: fit-content;
			border-radius: 2.22222rem;
			background: $text-color;
			display: flex;
			padding: 0.88889rem 3.33333rem;
			align-items: flex-start;
			gap: 0.55556rem;
			color: #FFF;
			font-family: "SF Medium";
			font-size: 1.11111rem;
			transition: .4s background-color;
			cursor: pointer;
			&:hover{	
				background-color: #436CFF;
			}
		}
		img{
			width: 100%;
			position: absolute;
			bottom: 14rem;
			left: 0;
			right: 0;
			pointer-events: none;
		}
		.plane{
			position: absolute;
			height: 13rem;
			left: 50%;
			bottom: 10rem;
			width: 100%;
			transform: translateX(-38%);
			pointer-events: none;
			animation: fromLeft 1s ease-in;
			[class="lf-player-container"]{
				height: 100%;
			}
		}
	}
	&.sended{
		.successWrapper{
			transition: opacity .5s;
			opacity: 1;
		}
	}
	.flex{
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2{
			font-family: 'SF Semibold';
			font-size: 2rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin: 0;
			padding: 0;
		}
		p{
			color: #7B7D81;
			font-size: 1.11111rem;
			font-weight: 400;
			margin: 0;
			padding: 0;
			margin-top: 0.68rem;
		}
		form{
			margin-top: 3.3rem;
			.formFlex{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 47.22222rem;
				gap: 1.78rem 1.1rem;
			}
			.lgInput{
				width: 100%;
			}
			.smInput{
				width: 23.05556rem;
			}
			.counter{
				display: flex;
				gap: 0.44444rem;
				font-size: 0.66667rem;
				margin-top: 0.11rem;
			}
			.lgInput, .smInput{
				.inputWrapper{
					display: flex;
					align-items: center;
					display: flex;
					height: 3.22222rem;
					gap: 0.67rem;
					border-radius: 0.44444rem;
					border: 1px solid  #919396;
					background: #FFF;
					overflow: hidden;
					box-sizing: border-box;
					transition: .2s border-color;
					&.error:not(:focus-within){
						border-color: #EE1F1F;
						.img{
							background: #FEE9E9;
						}
					}
					&:hover{
						border-color: #4F5157;
					}
					&:focus-within{
						border-color: #436CFF;
					}
				}
				.error{
					display: flex;
					align-items: center;
					gap: 0.44444rem;
					margin-top: 0.33rem;
					img{
						width: 1.33333rem;
						height: 1.33333rem;
					}
					color: #EE1F1F;
					font-size: 0.66667rem;
					font-style: normal;
					font-weight: 400;
					line-height: 0.88889rem; 
				}
				input{
					width: 100%;
					height: 100%;
					padding: 1.1rem 0;
					font-size: 0.77778rem;
					font-style: normal;
					font-weight: 400;
					line-height: 1rem;
					outline: none;
					border: none;
					background: none; 
				}
				.img{
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					padding: 0.94444rem 0;
					background: #F3F3F3;
					width: fit-content;
					img{
						width: 1.33333rem;
						height: 1.33333rem;
					}
				}
			}
			.btns{
				display: flex;
				gap: 1.78rem;
				align-items: center;
				margin-top: 1.78rem;
			}
			button{
				display: flex;
				width: 15rem;
				padding: 1.33333rem;
				justify-content: center;
				align-items: center;
				gap: 0.55556rem;
				border-radius: 2.22222rem;
				background: #698AFF;
				border: none;
				color:  #FFF;
				font-family: 'SF Medium';
				font-size: 1.33333rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				transition: .4s background-color;
				cursor: pointer;
				&:hover{	
					background-color: #436CFF;
				}
				&:disabled{
					background-color: #E9EAEA;
					color: #A7A8AB;
				}
			}
			.link{
				display: flex;
				align-items: center;
				gap: 0.66667rem;
				color: var(--blue-900, #436CFF);
				font-family: 'SF Medium';
				font-size: 1.33333rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-decoration: none;
				img{
					width: 1.33333rem;
					height: 1.33333rem;
				}
			}
			.textarea{
				width: 100%;
				.error{
					display: flex;
					align-items: center;
					gap: 0.44444rem;
					margin-top: 0.33rem;
					img{
						width: 1.33333rem;
						height: 1.33333rem;
					}
					color: #EE1F1F;
					font-size: 0.66667rem;
					font-style: normal;
					font-weight: 400;
					line-height: 0.88889rem; 
				}
				textarea{
					border-radius: 0.44444rem;
					border: 1px solid #919396;
					background: #FFF;
					padding: 0.44rem 0.89rem;
					font-size: 0.77778rem;
					font-style: normal;
					font-weight: 400;
					line-height: 1rem;
					resize: vertical;
					height: 10.44444rem;
					width: 100%;
					box-sizing: border-box;
					outline: none;
					transition: .2s border-color;
					&:hover{
						border-color: #4F5157;
					}
					&:focus{
						border-color: #436CFF;
					}
				}
			}
		}
		.img{
			max-width: 50%;
			width: 100%;
			position: relative;
			aspect-ratio: 1/1;
			display: block;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}